* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-weight: 700;
    font-size:medium;
    cursor: default;
    margin: 0;
    padding: 0;
}

main {
    margin-top: -10px;
}

#logo {
    vertical-align: middle;
    transition: 0.3s;
}

#logo:hover {
    filter: sepia(0.3) brightness(1.2);
}

#page-title {
    vertical-align: middle;
    padding-left: 10px;
    font-family: "Domine";
    font-size: 32pt;
}

#filter-list {
    height: auto;
    width: 100%;
    padding: 10px 0;
}

.filter-label {
    font-size: xx-large;
    font-style: italic;
    vertical-align: middle;
    margin-left: 10px;
    padding: 10px;
}

.square-button {
    background-color: #BB2F3D;
    color: white;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.rec-button {
    background-color: #ccc;
    color: black;
    text-align: center;
    padding: 0.5em;
    margin: 0;
    width: 80px;
    height: 40px;
    border-radius: 4px;
}

.square-button:hover, .rec-button:hover {
    background-color:#F1C6CA !important;
    color: black !important;
}

.square-button:active, .rec-button:active {
    background-color:#D55864 !important;
    color: white !important;
}

#jv-buttons {
    display: inline-grid;
    vertical-align: middle;
    grid-template-columns: 80px repeat(7, 40px);
    column-gap: 2px;
    row-gap: 2px;
}

#pattern-list {
    background-color:#ddd;
    overflow-y: auto;
    float: left;
    width: 150px;
    height: 400px;
}

#info {
    display: inline-block;
    width: calc(100% - 150px);
    height: 400px;
    position: relative;
}

#pattern-name {
    margin: 20px;
}

.param {
    margin: 0px;
}

.param1, .param2, .param3, .param4, .param5, .param6, .param7 {
    position: absolute;
}

.param1 {
    top: 72px;
}

.param2 {
    top: 102px;
}

.param3 {
    top: 132px;
}

.param4 {
    top: 162px;
}

.param5 {
    top: 192px;
}

.param6 {
    top: 222px;
}

.param7 {
    top: 252px;
}

.vspace {
    display: inline-block;
    height: 20px;
}

.param-name {
    margin: 0 0 0 20px;
}

.param-name span {
    font-weight: normal;
}

.pattern:nth-of-type(even) {
    background-color: #ddd;
}

.pattern:nth-of-type(odd) {
    background-color: #eee;
}

.pattern {
    margin: 0;
    padding: 0.6em 1.2em;
}

.pattern:hover {
    background-color: #F1C6CA;
    color: black;
}

.pattern:active {
    background-color: #D55864;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}